APP_NAME=payment-service
DEBUG=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=payments
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

API_KEY=change-me

OUTBOX_POLL_INTERVAL=0.5
OUTBOX_BATCH_SIZE=100